<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client url="http://localhost:8989/PTSLibrary.PTSAdminFacade">
				
			</client>
			<channels>
				<channel ref="http" port="8989">
				</channel>
				
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>