<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<activated type="PTSLibrary.PTSAdminFacade, PTSAdminFacade" />
			</service>
			<channels>
				<channel ref="http server" port="8989" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>